<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
</head>
<body style="font-size:120%;">
    Dear supplier,
    <br /><br />
    You, or one of your colleagues, has started an application to offer your services through the G-Cloud 9 (G9) framework. All contributors on your Digital Marketplace account will now receive G9-related updates.
    <br /><br />
    You can:
    <ul>
      <li>
          check your services are right for G9
      </li>
      <li>
          find out what G9 means for you if you’re a G-Cloud 7 or G-Cloud 8 supplier (TODO)
      </li>
      <li>
          see the latest timetable of important dates (TODO)
      </li>
      <li>
          find out how to apply:<br />
          <a href="https://www.gov.uk/guidance/g-cloud-suppliers-guide#how-to-apply ">
              https://www.gov.uk/guidance/g-cloud-suppliers-guide#how-to-apply
          </a>
      </li>
      <li>
          find out when you can and when you can’t copy services in your G9 application (TODO)
      </li>
    </ul>
    If you need to ask a question about G9, you must send it to the Crown Commercial Service (CCS) through your account on the Digital Marketplace before (TODO deadline). We’ll post your question along with an answer from CCS in the updates page of your account:
    <br /><br />
    <a href="https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-9/updates">
        https://www.digitalmarketplace.service.gov.uk/suppliers/frameworks/g-cloud-9/updates
    </a>
    <br /><br />
    Thanks,
    <br />
    The Digital Marketplace team
</body>
</html>
